downloader/*
errors/*
includes/*
js/*
lib/*
media/*
pkginfo/*
shell/*
skin/*
var/*
/*.*
.htaccess
mage
Mage.php
app/design/*
app/locale/*
app/code/core/*
app/code/local/*
app/code/community/Phoenix/*
app/etc/*.*
app/etc/modules/Mage*
app/etc/Gdv*
app/etc/Phoenix*
app/etc/Phoenix/*
tmp/
.DS_Store
*.DS_Store*

!.gitignore
#!app/code/community/Accusoft/*
#!app/code/community/Accusoft/
#!app/code/community/Accusoft/*
#!app/code/community/Accusoft/Prizmclouddocsviewer/*

!app/etc/modules/Accusoft_Prizmclouddocsviewer.xml
