<?xml version="1.0"?>
<config>
    <modules>
        <Accusoft_Prizmclouddocsviewer>
            <version>0.1.0</version>
        </Accusoft_Prizmclouddocsviewer>
    </modules>

    <global>
			<blocks>
        <accusoft_prizmclouddocsviewer>
            <class>Accusoft_Prizmclouddocsviewer_Block</class>
        </accusoft_prizmclouddocsviewer>
      </blocks>

			<models>
					<accusoft_prizmclouddocsviewer>
							<class>Accusoft_Prizmclouddocsviewer_Model</class>
					</accusoft_prizmclouddocsviewer>
          <prizmclouddocsviewer_resource>
            <class>Accusoft_Prizmclouddocsviewer_Model_Resources</class>
            <entities>
              <prizmclouddocsviewer>
                <table>accusoft_prizmclouddocsviewer</table>
              </prizmclouddocsviewer>
            </entities>
          </prizmclouddocsviewer_resource>
          <prizmclouddocsviewer_adminhtml>
            <class>Accusoft_Prizmclouddocsviewer_Adminhtml_Model</class>
          </prizmclouddocsviewer_adminhtml>
      </models>
			<!--resources>
        <accusoft_prizmclouddocsviewer_setup>
          <setup>
              <module>Accusoft_Prizmclouddocsviewer</module>
              <class>Mage_Core_Model_Resource_Setup</class>
          </setup>
        </accusoft_prizmclouddocsviewer_setup>
      </resources-->
			<!--blocks>
					<prizmclouddocsviewer>
							<class>Accusoft_Prizmclouddocsviewer_Block</class>
					</prizmclouddocsviewer>
			</blocks-->
			<helpers>
					<prizmclouddocsviewer>
							<class>Accusoft_Prizmclouddocsviewer_Helper</class>
					</prizmclouddocsviewer>
			</helpers>
    </global>

    <!--admin>
        <routers>
            <prizmclouddocsviewer>
                <use>admin</use>
                <args>
                    <module>Accusoft_Prizmclouddocsviewer</module>
                    <frontName>Prizmclouddocsviewer</frontName>
                </args>
            </prizmclouddocsviewer>
        </routers>
    </admin-->

    <adminhtml>
        <!--menu>
            <catalog>
                <children>
                    <prizmclouddocsviewer_adminform translate="title" module="Prizmclouddocsviewer">
                        <title>PrizmCloud Docs Viewer</title>
                        <action>Prizmclouddocsviewer/adminhtml_viewer</action>
                    </prizmclouddocsviewer_adminform>
                </children>
            </catalog>
        </menu>

        <acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <prizmclouddocsviewer_adminform>
                                    <title>PrizmCloud Document Viewer</title>
                                </prizmclouddocsviewer_adminform>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>

        <layout>
            <updates>
                <prizmclouddocsviewer>
                    <file>Prizmclouddocsviewer.xml</file>
                </prizmclouddocsviewer>
            </updates>
        </layout-->
    </adminhtml>
    <default>
      <prizmcloud>
          <settings>
              <toolbar_color>CCCCCC</toolbar_color>
          </settings>
      </prizmcloud>
    </default>
</config>
